/* Style for Logius Centrum voor Standaarden */

@import "base.css";

body {
  background-image: url('logos-LogiusCvS.svg') ;
}

.logo {
  border-bottom: none !important;
}

/* Blockquote styling om definitielijsten goed te stylen */
blockquote {
  padding: 0 !important;
  margin-left: 2em !important;
  margin-top: -1em !important;
  border: none !important;
}

/* Unordered list styling om opsommingen in definitielijsten goed te stylen */
blockquote>ul {
  margin-top: -1em !important;
}
blockquote>ul>li {
  margin: 0 !important;
}

:not(code) > abbr {
  border-bottom: 1px dotted #005a9c !important;
  cursor: help;
}